body {
  margin: 0;
  padding: 10px;
}

.header {
  margin: 20px;
  display: inline-flex;
  background: gray;
  padding: 10px;
  border-radius: 10px;
}


.title {
  font-size: 60px;
  margin: auto;
  text-align: center;
  pointer-events: none;
  font-family: 'Courier New', Courier, monospace;
}

.icon {
  width: 15%;
}

.profile {
  margin: 5px auto;
  align-self: center;
  background: gray;
  border-radius: 10px;
  padding: 1%;
  width: max-content;
  font-family: 'Courier New', Courier, monospace;
}

.workoutPlan {
  margin: auto;
  background: gray;
}

.plan {
  margin: 20px auto;
  background: gray;
  width: 60%;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
  padding: 10px;
}

.singleWorkout {
  background-color: whitesmoke;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

.workouts {
  margin: auto;
  background-color: gray;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
}

.userStats {
  cursor: pointer;
  width: fit-content;
  display: inline-flex;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  background-color: whitesmoke;
}

.userInfo {
  pointer-events: none;
}

.userData {
  font-size: xx-large;
  color: blue;
  text-align: center;
  pointer-events: none;
}

.planStatistics {
  background-color: whitesmoke;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}