body {
  margin: 0;
}

.header {
  margin: 20px;
  display: inline-flex;
  background: gray;
  padding: 10px;
  border-radius: 10px;
}


.title {
  font-size: 60px;
  margin: auto;
  text-align: center;
  pointer-events: none;
  font-family: 'Courier New', Courier, monospace;
}

.icon {
  width: 15%;
}

.profile {
  margin: 20px;
  align-self: center;
  background: gray;
  border-radius: 10px;
  padding: 1%;
  width: max-content;
  font-family: 'Courier New', Courier, monospace;
}

.workoutPlan {
  margin: auto;
  background: gray;
}

.plan {
  margin: auto;
  background: gray;
  width: 60%;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
  padding: 10px
}